---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: project3-angular-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: angular-deployment
  template:
    metadata:
      labels:
        app: angular-deployment
    spec:
      containers:
      - image: javasre2022/angular:latest
        env:
          - name: VALIDATION
            value: http://34.71.225.31:8081/users/validate
          - name: EUREKA_URI
            value: http://35.239.70.25:8083/eureka
          - name: ANGULAR_URI
            value: http://34.69.17.73:80
        imagePullPolicy: Always
        name: angularcontainer
        ports: 
        - containerPort: 80


---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: angular-service
  name: angularservice
  namespace: default
spec:
  type: LoadBalancer
  ports:
    - name: http-angular
      port: 80
      targetPort: 80
  selector:
    app: angular-deployment








